/* Default styles for Escriba documents */

/* Page Setup for PDF Generation */
@page {
    size: A4;
    margin: 2cm;
}

/* Sen Font Faces */
@font-face {
    font-family: 'Sen';
    src: url('../fonts/Sen-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sen';
    src: url('../fonts/Sen-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sen';
    src: url('../fonts/Sen-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sen';
    src: url('../fonts/Sen-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* Base styles - Apply Sen font globally */
* {
    font-family: 'Sen', sans-serif;
}

body {
    font-family: 'Sen', sans-serif;
}

/* Image defaults - prevent oversized images */
img {
    max-width: 100%;
    height: auto;
}

/* Header logo sizing */
header img {
    max-height: 64px;
    width: auto;
}
